* {
  padding: 0;
  margin: 0;
}

h1,
h4,
h5 {
  text-align: center;
}

.witcher {
  text-align: center;
  display: block;
  margin: 0;
  padding: 0;
}

.witcher :hover {
  transform: scale(1.05);
}

pre {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  text-align: center;
}

.aespa {
  text-align: center;
  transition: transform 0.3s ease;
  display: block;
  margin: 0;
  padding: 0;
}

.aespa :hover {
  transform: scale(1.05);
}

a {
  text-align: center;
}
