*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1, h4{
    text-align: center;
}

hr{
    margin: 0;
}

.rizal {
    text-align: center;
}

.rizalinfo{
text-align: center;
}

ul{
    list-style: none;
}




