body {
  display: flex;
  font-family: "Comic Sans MS", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

.sidebar {
  background-color: #ffffff;
  width: 350px;
  padding: 30px;
  border-right: 3px solid #333;
}

.sidebar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  float: left;
  margin-right: 15px;
}

.sidebar h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

.sidebar h2 {
  font-size: 18px;
  margin-bottom: 20px;
}

.main-content {
  background-color: #f0e6d2;
  flex: 1;
  padding: 40px;
}

.main-content h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

.main-content ul {
  list-style-type: disc;
  margin-left: 5px;
  font-size: 18px;
  line-height: 1.6;
}
